:root {
  --text: #DCE4EC;
  --background: #161F28;
  --accent: #00879D;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1em;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: var(--text);
  background-color: var(--background);
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}