:root {
  --text: #FFFFFF;
  --background: #28282B;
  --accent: #0389A1;
  --body-margin: 30px; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1em;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: var(--text);
  background-color: var(--background);
  margin: var(--body-margin);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to the top */
  min-height: 100vh; /* Ensure full height */
}