:root {
    --text: #FFFFFF;
    --background: #28282B;
    --accent: #0389A1;
    --body-margin: 30px; 
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: var(--text);
    background-color: var(--background);
    margin: var(--body-margin);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top */
    min-height: 100vh; /* Ensure full height */
}

.markdown-container {
    line-height: 1.6;
    width: 100%;
    text-align: left;
    margin: 0 auto; /* This is the critical line for centering */
    
    /* For narrow viewports and mobile devices */
    @media (max-width: 768px) {
        width: 90%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    color: var(--accent);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

p {
    margin-bottom: 20px;
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.7;
}

s, del {
    text-decoration: line-through;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul, ol {
    margin-bottom: 20px;
    padding-left: 30px;
}

li {
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 3px;
    background-color: rgba(66, 66, 68, 1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

:not(blockquote) > blockquote {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    border-left: 4px solid var(--accent);
    color: var(--text);
    background-color: rgba(66, 66, 68, 1);
    font-style: italic;
}

blockquote > blockquote {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    border-left: 4px solid var(--accent);
    color: var(--text);
    background-color: rgba(0, 0, 0, 0.15);
    font-style: italic;
}

pre {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 15px;
    overflow-x: auto;
    border-radius: 5px;
}

:not(pre) > code {
    font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 3px 5px;
    border-radius: 3px;
}

pre > code {
    font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
    font-size: 0.9em;
    padding: 3px 5px;
    border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table, th, td {
    border: 2px solid rgba(132, 132, 136, 1);
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: var(--background);
    color: var(--text);
}

img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

sup {
    font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
    font-size: 0.75em;  /* Making it slightly smaller than main text */
    color: var(--text);
}

section.footnotes {
    font-size: 0.9em;  /* Making it slightly smaller but not as small as superscripts */
    color: var(--text);
    margin-top: 2rem;  /* Space above the footnotes section */
}